	<div class="container">
		<div class="row">

			<div class="col-sm-8">
				<!-- FORM ============ -->

				<form name="userForm" ng-submit="submitForm()"  novalidate>

					<!-- NAME -->
					<div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
						<label>Name</label>
						<input type="text" name="name" class="form-control" ng-model="user.name" required>
						<p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>
					</div>

					<!-- Message -->
					<div class="form-group" ng-class="{ 'has-error' : userForm.message.$invalid && !userForm.message.$pristine }">
						<label>Message</label>
						<textarea  name="message" class="form-control" ng-model="user.message" ng-minlength="3" required ng-maxlength="50"></textarea>
						<p ng-show="userForm.message.$error.minlength" class="help-block">Message is too short.</p>
						<p ng-show="userForm.message.$error.maxlength" class="help-block">Message is too long.</p>
					</div>

					<!-- EMAIL -->
					<div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
						<label>Email</label>
						<input type="email" name="email" class="form-control" ng-model="user.email" required>
						<p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
					</div>
					<button type="reset" class="btn btn-default">Cancel</button>

					<button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>

				</form>
			</div>
		</div>
	</div>